<div> 
    <ol class="breadcrumb">
        <li class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administración</li>
        <li class="active">Asignar funcionarios a dependencias</li>
    </ol>
    <div class="container">
        <div>
            <div ng-repeat="func in funcionarioList">
                <input type="checkbox"> {{func.nombre}}
            </div>
        </div>
        </div>
            <div ng-repeat="depen in dependenciaList">
                <input type="checkbox"> {{depen.nombre}}
            </div>
        </div>
    </div>
</div>