<div>
    <ol class="breadcrumb">
        <li class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administración</li>
        <li class="active">Asignar plaza a dependencia</li>
    </ol> 
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Plazas</th>
                    <th>Dependencias</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <uib-accordion close-others="false">
                                <uib-accordion-group class="accordion-toggle" panel-class="panel-primary" data-drag="true" 
                                  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}"
                                  ng-hide="plaza.jornada <= 0" ng-repeat="plaza in plazaList" is-open="true">
						    	                <uib-accordion-heading><span class="glyphicon glyphicon-th-large"></span> {{plaza.codigo}}</uib-accordion-heading>
                                  Tipo: {{plaza.tipo}}
                                  <br>
                                  Jornada: {{plaza.jornada}}%
                                </uib-accordion-group>
                            </uib-accordion>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div data-drop="true" data-jqyoui-options
                                jqyoui-droppable ng-repeat="depen in dependenciaList">
                                {{depen.codigo}} - {{depen.nombre}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
