<div>
     <ol class="breadcrumb">
        <li class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funcionarios</li>
        <li class="active">Actualizar Funcionario</li>
    </ol>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="funcionarioForm" novalidate>
                        <table id ="funcionariosTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>Nombre</th>
                                    <th>Primer Apellido</th>
                                    <th>Segundo Apellido</th>
                                    <th>Fecha Nacimiento</th>
                                    <!-- <th>Código Carrera</th> -->
                                    <th>Area de Especialidad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Cédula" required ng-model="funcionario.infoPersonal.cedulaFuncionario"></input>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Nombre" required ng-model="funcionario.infoPersonal.nombreFuncionario"></input>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Primer Apellido" required ng-model="funcionario.infoPersonal.primerApellido"></input>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Segundo Apellido" required ng-model="funcionario.infoPersonal.segundoApellido"></input>
                                    </td>  <!-- 
                                    <td>
                                        <input id="date" class="form-control" type="text" placeholder="Fecha" required ng-model="profesor.infoPersonal.fecha"></input>
                                    </td> -->
                                   
                                     <td class="col-xs-2" >
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{dateSettings.dateFormat}}" ng-model="funcionario.infoPersonal.fecha" is-open="dateSettings.showRegDate"  date-disabled="false" close-text="Cerrar" ng-readonly="true" requiered/>
                                            <span class="input-group-btn"> 
                                                <button type="button" class="btn btn-default" ng-click="openDatePickerPopUp()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Area de Especialidad" required ng-model="funcionario.infoPersonal.especialidad"> 
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-xs" uib-tooltip="actualizar" ng-click=""><span class="glyphicon glyphicon-refresh"></span></button>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>{{funcionario.infoPersonal.cedula}}</td>
                                    <td>{{funcionario.infoPersonal.nombre}}</td> 
                                    <td>{{funcionario.infoPersonal.apellido1}}</td> 
                                    <td>{{funcionario.infoPersonal.apellido2}}</td>  
                                    <td>{{funcionario.infoPersonal.fechaNacimiento | date: 'dd-MM-yyyy'}}</td> 
                                    <td>{{funcionario.infoPersonal.areaEspecialidad}}</td>   
                                    <td style="white-space: nowrap">
                                        <button class="btn btn-warning btn-xs"  uib-tooltip="editar" ng-click=""><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>             
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h4>Información Académica</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="academicForm" novalidate>
                        <table id ="funcionariosTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Universidad</th>
                                    <th>Grado Académico</th>
                                    <th>Año de Graduación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>
                                        <input class="form-control" type="text" placeholder="Título" required ng-model="inputFuncionario.infoAcademica.titulo"></input>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Universidad" required ng-model="inputFuncionario.infoAcademica.universidad"></input>
                                    </td>
                                    <td>
                                        <select id="opDegree" class="form-control" >
                                            <option ng-repeat="degree in degreeList">{{degree.nombre}}</option>
                                        </select>
                                        
                                    </td>
                                    <td  class="col-xs-2" >
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{yearDegreeSettings.yearFormat}}" ng-model="inputFuncionario.infoAcademica.annoGraduacion" is-open="yearDegreeSettings.showRegYear" datepicker-options="yearDegreeSettings" date-disabled="disabled(date, mode)" close-text="Cerrar" ng-readonly="true" required/>
                                            <span class="input-group-btn"> 
                                                <button type="button" class="btn btn-default" ng-click="openYearDegreePopUp($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </td>                                   
                                    <td style="white-space: nowrap"><button class="btn btn-primary btn-xs" uib-tooltip="agregar" ng-click="validAcademicInfo(academicForm.$valid, funcionario.id, inputFuncionario.infoAcademica)"><span class="glyphicon glyphicon-plus"></span></button> <button class="btn btn-info btn-xs" uib-tooltip="actualizar" ng-click=""><span class="glyphicon glyphicon-refresh"></span></button></td>
                                </tr> 
                                <tr ng-repeat = "academico in funcionario.infoAcademica">
                                    <td>{{academico.titulo}}</td>
                                    <td>{{academico.universidad}}</td> 
                                    <td>{{academico.gradoAcademico}}</td> 
                                    <td>{{academico.annoGraduacion | date: 'yyyy'}}</td>  
                                    <td style="white-space: nowrap">
                                        <button class="btn btn-warning btn-xs"  uib-tooltip="editar" ng-click=""><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>  
                                </tr>           
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
       </div>
    </div>
    <div class="row">
        <div class="container">
            <h4>Información Laboral</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="recordForm" novalidate>
                        <table id ="funcionariosTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Antecedente</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>
                                        <textarea class="form-control" type="text" align="justify" placeholder="Descripción" required ng-model="inputFuncionario.antecedente"></textarea>
                                    </td>
                                    <td style="white-space: nowrap"><button class="btn btn-primary btn-xs" uib-tooltip="agregar" ng-click="validRecordInfo(recordForm.$valid, funcionario.id, inputFuncionario.antecedente)"><span class="glyphicon glyphicon-plus"></span></button> <button class="btn btn-info btn-xs" uib-tooltip="actualizar" ng-click=""><span class="glyphicon glyphicon-refresh"></span></button></td>
                                </tr> 
                                <tr ng-repeat = "ante in funcionario.antecedentes">
                                    <td>{{ante.descripcion}}</td> 
                                    <td style="white-space: nowrap">
                                    <button class="btn btn-warning btn-xs"  uib-tooltip="editar" ng-click=""><span class="glyphicon glyphicon-pencil"></span></button>
                                </td> 
                                </tr>          
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
       </div>
    </div>
    <div class="row">
            <div class="container">
                <button class="btn btn-primary" ng-click="sendToProfessorsView()">Regresar</button> 
                <br></br>
           </div>
        </div>
    <br></br>
</div>