<div>
     <ol class="breadcrumb">
        <li class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funcionarios</li>
        <li class="active">Actualizar Funcionario</li>
    </ol>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="funcionarioForm" novalidate>
                    <table id ="funcionariosTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Primer Apellido</th>
                                <th>Segundo Apellido</th>
                                <th>Fecha Nacimiento</th>
                                <th>Area de Especialidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr>
                                <td>
                                    <input class="form-control" type="text" placeholder="Cédula" required ng-model="funcionario.infoPersonal.cedula"></input>
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="Nombre" required ng-model="funcionario.infoPersonal.nombre"></input>
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="Primer Apellido" required ng-model="funcionario.infoPersonal.apellido1"></input>
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="Segundo Apellido" required ng-model="funcionario.infoPersonal.apellido2"></input>
                                </td> 
                                 <td class="col-xs-2" >
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{dateSettings.dateFormat}}" ng-model="funcionario.infoPersonal.fechaNacimiento" is-open="dateSettings.showRegDate"  date-disabled="false" close-text="Cerrar" current-text="Hoy" ng-readonly="true"/>
                                        <span class="input-group-btn"> 
                                            <button type="button" class="btn btn-default" ng-click="openDatePickerPopUp()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="Area de Especialidad" required ng-model="funcionario.infoPersonal.areaEspecialidad"> 
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs" uib-tooltip="actualizar" ng-click="updateFuncionario(funcionarioForm.$valid,funcionario)"><span class="glyphicon glyphicon-refresh"></span></button>
                                </td>
                            </tr>           
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <h4>Información Académica</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="academicForm" novalidate>
                        <table id ="funcionariosTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Universidad</th>
                                    <th>Grado Académico</th>
                                    <th>Año de Graduación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>
                                        <input class="form-control" type="text" placeholder="Título" required ng-model="inputFuncionario.infoAcademica.titulo"></input>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Universidad" required ng-model="inputFuncionario.infoAcademica.universidad"></input>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="inputFuncionario.infoAcademica.grado">
                                            <option value="" disabled selected>Grado</option>
                                            <option ng-repeat="degree in degreeList">{{degree}}</option>
                                        </select>   
                                    </td>
                                    <td  class="col-xs-2" >
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{yearDegreeSettings.yearFormat}}" ng-model="inputFuncionario.infoAcademica.annoGraduacion" is-open="yearDegreeSettings.showRegYear" datepicker-options="yearDegreeSettings" ng-readonly="true" close-text="Cerrar" current-text="Hoy"/>
                                            <span class="input-group-btn"> 
                                                <button type="button" class="btn btn-default" ng-click="openYearDegreePopUp($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </td>                                   
                                    <td style="white-space: nowrap"><button class="btn btn-primary btn-xs" uib-tooltip="agregar" ng-click="validAcademicForm(academicForm.$valid, inputFuncionario.infoAcademica)"><span class="glyphicon glyphicon-plus"></span></button> 
                                    <button class="btn btn-info btn-xs" uib-tooltip="actualizar" ng-click="updateFuncionarioTitulos(academicForm.$valid, inputFuncionario.infoAcademica)"><span class="glyphicon glyphicon-refresh"></span></button></td>
                                </tr> 
                                <tr ng-repeat = "academico in funcionario.infoAcademica" ng-click="editFuncionarioTitulos(academico)" style="cursor:pointer">
                                    <td>{{academico.titulo}}</td>
                                    <td>{{academico.universidad}}</td> 
                                    <td>{{academico.gradoAcademico}}</td> 
                                    <td>{{academico.annoGraduacion}}</td>  
                                </tr>           
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
       </div>
    </div>
    <div>
        <div class="container">
            <h4>Información Laboral</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="recordForm" novalidate>
                        <table id ="funcionariosTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Antecedente</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>
                                        <textarea class="form-control" type="text" align="justify" placeholder="Descripción" required ng-model="inputFuncionario.antecedente.descripcion"></textarea>
                                    </td>
                                    <td style="white-space: nowrap"><button class="btn btn-primary btn-xs" uib-tooltip="agregar" ng-click="validRecordForm(recordForm.$valid, inputFuncionario.antecedente)"><span class="glyphicon glyphicon-plus"></span></button> <button class="btn btn-info btn-xs" uib-tooltip="actualizar" ng-click="updateFuncionarioAntecedentes(recordForm.$valid, inputFuncionario.antecedente)"><span class="glyphicon glyphicon-refresh"></span></button></td>
                                </tr> 
                                <tr ng-repeat = "ante in funcionario.antecedentes" ng-click="editFuncionarioAntecedentes(ante)" style="cursor:pointer">
                                    <td>{{ante.descripcion}}</td> 
                                </td> 
                                </tr>          
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
       </div>
    </div>
    <div>
        <div class="container">
            <button class="btn btn-primary" ng-click="sendToFuncionariosView()">Regresar</button> 
            <br></br>
        </div>
    </div>
    <br></br>
</div>